<h3>
  <%= link_to users_path do %>
    <span class="minismile"><%= image_tag asset_path "smile.png" %></span>
    バッジを贈る！！
  <% end %>
</h3>

<h1>贈ったバッジ</h1>

<h2>あなたが贈ったバッジは (<%= @badgeposts.count %>) 個です。</h2>

<%= render 'badgeposts/index' , badgeposts: @badgeposts, type: "sent" %>