%h3.badge_send_button_top
  = link_to users_path do
    %span.minismile= image_tag asset_path "smile.png"
    バッジを贈る！！
%h1 贈ったバッジ
%h2
  あなたが贈ったバッジは (#{@badgeposts.count}) 個です。
= render 'badgeposts/index' , badgeposts: @badgeposts, type: "sent"
