<% provide(:title, 'ヘルプ') %>
<h1>ヘルプ</h1>

<h3>使い方ガイド</h3>

<ol>
  <li>ヘッダーか、プロフィールページなどにある「<span class="minismile"><%= image_tag asset_path "smile.png" %></span>バッジを贈る！！」をクリックします。</li>
  <li>バッジを贈りたいメンバーをクリックします。</li>
  <li>相手に贈りたいバッジをクリックします。<%= image_tag asset_path "check_small.png" %>がついているバッジが選択されたバッジです。</li>
  <li>相手に贈りたいメッセージを書いて、「バッジを贈る！！」ボタンを押して完了です。</li>
</ol>
