<% provide(:title, '部門別ランキング') %>
<h1>贈ったバッジランキング（今月）</h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-10">
      <% if @badgeposts.present? %>
        <ul class="ranking">
          <% ranking_count = 1 %>
          <% @badgeposts.each do |badgepost| %>
            <li>
              <span class="rank">
                <%= ranking_count.to_s + " 位" %>
              </span>
              <% ranking_count += 1 %>
              <div class="bumon_name"><%= @bumonname_hash[badgepost.bumon_id] if @bumonname_hash.has_key?(badgepost.bumon_id) %></div>
              <span class="badge_count"><%= badgepost.cnt %>個</span>
            </li>
            <br/>
            <br/>
            <br/>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>