<% provide(:title, '部門別ランキング') %>
<h1>贈ったバッジランキング（今月）</h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <section>
        <% if @badgeposts.present? %>
          <ul class="ranking">
            <% ranking_count = 1 %>
            <% @badgeposts.each do |badgepost| %>
              <li>
                <div class="ranking_block">
                  <span class="rank">
                    <%= ranking_count.to_s + " 位" %>
                  </span>
                  <% ranking_count += 1 %>
                  <div class="bumon_name"><%= @bumonname_hash[badgepost.bumon_id] if @bumonname_hash.has_key?(badgepost.bumon_id) %></div>
                  <span class="badge_count"><%= badgepost.cnt %>個</span>
                </div>
              </li>
            <% end %>
          </ul>
        <% end %>
      </section>
    </div>
  </div>
</div>
