以下のリンクをクリックして、パスワードをリセットしてください。
= edit_password_reset_url(@user.reset_token, email: @user.email)
このリンクは2時間で期限が切れます。
\
パスワードをリセットしない場合は、このメールを無視してください。
パスワードは変更されません。
\
\
\
\
\
\
【 SMILE Badge 】
= ENV["APPLI_URL"]
\
バッジを贈って気軽に、カジュアルにホメよう。
\
\
\
© #{Date.today.year} SMILE Badge.
