<%= javascript_include_tag 'balloon' %>

<% if @feedbadgeposts.any? %>
  <h1>獲得したバッジ</h1>
  <div class="container-fluid">
    <div class="row">
      <% @feedbadgeposts.each do |badgepost| %>
      	<div class="col-md-6">
      		<%= render badgepost, type: "recept" %>
      	</div>
      <% end %>
    </div>
  </div>
<% end %>

<script>
// ユーザーの画像に一言メッセージをポップアップ
$(".gravatarsent_recept").balloon({ position: "right", offsetX: 0, offsetY: -30, 
                      css: { backgroundColor: '#EEFFFF', color: '#000' } });
$(".gravatarrecept_recept").balloon({ position: "right", offsetX: 0, offsetY: -30, 
                      css: { backgroundColor: '#EEFFFF', color: '#000' } });
</script>
