<%= javascript_include_tag 'balloon' %>

<% if @feed_items.any? %>
  <h1>獲得したバッジ</h1>
  <ol class="badgeposts">
    <div class="container-fluid">
      <div class="row">
        <% @feed_items.each do |badgepost| %>
        	<div class="col-md-6">
        		<%= render badgepost, type: "recept" %>
        	</div>
        <% end %>
      </div>
    </div>
  </ol>
<% end %>

<script>
// ユーザーの画像に一言メッセージをポップアップ
$(".gravatarsent_recept").balloon({ position: "right", offsetX: 0, offsetY: -30 });
$(".gravatarrecept_recept").balloon({ position: "right", offsetX: 0, offsetY: -30 });
</script>
