<h2><%= @recept_user_name %>さんにバッジが届きました！</h2>
<p>下記リンクからログインしてバッジとメッセージを確認してみてね！</p>
<!--<p><%#= link_to "SMILE Badge へアクセス！", "http://muasmilebadgetest.herokuapp.com/" %></p>-->

<p>Sunshine Award - Our Policy for a Smile -</p>
