@import "variables";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

/* universal */
$back_color_gray: #FAFAFA;
$nickname_color: #A52A2A;
$flat_green: #16A6B6;
$flat_blue: #40AAEF;
$flat_denim: #0E7AC4;
// $flat_red: #F58E7E;
// $flat_red: #EE6557;
$flat_red: #F27398;
$flat_silver: #BFBFBF;
$flat_gray: #7C858E;
$badge_backcolor : #B2EBF2;
$badge_back_white_color: #F8F8F8;



// メディアサイズでの切り分け
@media(max-width: 1000px) {
}
@media(max-width: 768px) {
}
@media(max-width: 500px) {

    .margin_padding_clear {
      margin: 0 !important;
      padding: 0 !important;
    }
    .col-md-5 {
      @extend .margin_padding_clear;
    }
    .col-md-6 {
      @extend .margin_padding_clear;
    }
    .col-md-7 {
      @extend .margin_padding_clear;
    }
}


/* 全体 */
html {
  background-color: white;
}

body {
  padding-top: 60px;
  background-color: $back_color_gray;
  font-family: "Open Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}
.container {
  min-height: 100%;
}
// 背景画像
.body_back_image {
  background-image : url(smile.png);
  background-attachment: fixed;
}
// 背景画像を透過にする
.layerTransparent{
	background-color:		rgba(255,255,255,0.96);
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

ol {
  padding: 30px;
}

.container-fluid {
  padding: 5;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

h4 {
  font-size: 1.0em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* fontawesome */
.fa-user {
  color: $flat_denim;
}

.fa-cog {
  color: $flat_gray;
}

/* forms */

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* header */
.minismile {
  img{
    width: 20px;
    height: 20px;
  }
}
.minismile_float {
  @extend .minismile;
  float: left;
}

.minihelp{
  img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
}

#logo {
  img{
    max-width: 100%;
    height: auto;
  }
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.logoheader{
  img{
    width: auto;
    height: 35px;
  }
}

.toppage {
  background-color: white;
}

// Image
.smallimage {
  width: 20px;
  height: 20px;
  overflow: hidden;
  background-size: cover;
  img{
    width: 20px;
    height: 20px;
  }
}

.middleimage {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border: 1px solid #ccc;
  background-size: cover;
  img{
    width: 80px;
    height: 80px;
  }
}

.middlebadgeimage {
  margin-top: 17px;
  width: 60px;
  height: 60px;
  overflow: hidden;
  background-size: cover;
  img{
    width: 60px;
    height: 60px;
  }
}

.largeimage {
  width: 250px;
  height: 250px;
  overflow: hidden;
  border: 1px solid #ccc;
  background-size: cover;
  img{
    width: 150px;
    height: 150px;
  }
}


.largebadgeimage {
  width: 90px;
  height: 90px;
  overflow: hidden;
  background-size: cover;
  img{
    width: 90px;
    height: 90px;
  }
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}


#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}


/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}


// バッジ
.badgeicon_big {
  float: left;
  margin-top: 30px;
  margin-right: 30px;
  max-width: 100%; 
  height:auto;
	position: relative;
	overflow: hidden;

	.clear{
    clear: both;
  }
  
  .badge_checked{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .badgeicon_big:target .badge_checked{
  	display: none;
  	pointer-events: none;
  }
}


.badgeicon_big img {
  -webkit-animation-duration: 10s;  
  -webkit-animation-timing-fanction: ease-in-out;  
  -webkit-animation-iteration-count: infinite;  
  -webkit-animation-name: flash;
}
@-webkit-keyframes flash {
  0% {-webkit-transform: rotate(0deg);}
  30% {-webkit-transform: rotate(360deg);}
  100% {-webkit-transform: rotate(360deg);}
}



.badge_explanation {
  font-size: 0.8em;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	width: 100%;
	height: 100%;
  // 	透明度0.8
	background: rgba(255,255,255,0.8);
	-webkit-transition: .3s;
	transition: .3s;
	opacity: 0;
}
.badgeicon_big:hover .badge_explanation {
	opacity: 1;
}




/* badgepostsform */

.badgepostsform {
  li {
    list-style: none;
    float: left;
  }
  .listbreak {
    float: right;
  }
  .username {
    margin-left: 10px;
    font-size: 1.5em;
  }
  .badgeplace {
    ul {
      padding: 0px !important;
    }
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    // background: $back_color_gray;
    border-radius: 10px;
    @media(max-width: 500px) {
      padding: 10px;
    }
  }
  .valuebadges {
    @extend .badgeplace;
    border: 2px solid $flat_blue;
  }
  .optionbadges {
    @extend .badgeplace;
    border: 2px solid $flat_red;
  }
  #selected_badge_name {
    font-weight: normal;
    font-size: 1.2em;
  }
}

.badgecount {
  font-size: 1.5em;
}


/* badgeposts */

.badgeposts {
  list-style: none;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
  
  li {
    background-color: $back_color_gray;
    padding-top: 10px;
    border-top: 1px solid #e8e8e8;
  }
  
  span {
    line-height: 180%;
  }
  
  .badgemove {
    list-style: none;
  }
  
  .gravatarsent {
    background-color: $badge_back_white_color;
    float: left;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 0px;
    padding-right: 20px;
  }
  
  .gravatarsent_recept {
    @extend .gravatarsent;
  }
  
  .gravatarsent_sent {
    @extend .gravatarsent;
  }
  
  .badgeicon_mini {
    background-color: $badge_back_white_color;
    float: left;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 8px;
    padding-right: 5px;
    font-size: 0.8em;
  }
  .badgeicon_mini img {
      -webkit-animation-duration: 10s;  
      -webkit-animation-timing-fanction: ease-in-out;  
      -webkit-animation-iteration-count: infinite;  
      -webkit-animation-name: flash;
   }
  @-webkit-keyframes flash {
    0% {-webkit-transform: rotate(0deg);}
    30% {-webkit-transform: rotate(360deg);}
    100% {-webkit-transform: rotate(360deg);}
  }
  
  .triangle {
    float: left;
    border: 55px solid $badge_backcolor;
  	border-left-color: $badge_back_white_color;
    // 	矢印マークの角度
    border-left: 20px solid $badge_back_white_color;
  }
   
  .triangle_sent {
    @extend .triangle;
  }
  
  .triangle_recept {
    @extend .triangle;
  }
  
  .gravatarrecept {
    position: relative;
    left: -55px;
    background-color: $badge_backcolor;
    float: left;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 0px;
    padding-right: 5px;
  }
  .gravatarrecept_sent {
    @extend .gravatarrecept;
  }
  
  .gravatarrecept_recept {
    @extend .gravatarrecept;
  }
  
  .content {
    display: block;
    overflow: auto;
  	background: white;
    // border: 2px outset;
    border: 2px solid $flat_green;
    width: auto;
    max-width: 380px;
    height: 120px;
    padding: 10px;
    border-radius: 10px;
    font-size: 0.9em;
  }
  
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 5px;
  }
  
  @media(max-width: 1000px) {
  }
  
  @media(max-width: 768px) {
  }
  @media(max-width: 500px) {
    .gravatarsent_sent {
      display: none;
    }
    // 小さい画面のときは三角と送り主を消す
    .triangle_recept {
      display: none;
    }
    .gravatarrecept_recept {
      display: none;
    }
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}



/* users */

.users {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
  .edit_profile {
    text-align: right;
  }
}

/* userindex */
.userindex {
  .badgesendlink {
    margin-left: 2px;
  }
  .username {
    font-size: 1.2em;
  }
}
.user_initial_dropdown {
  margin-right: 20px;
  text-align: center;
}

/* プロフィール画面 */
.profile_show {
  // background: $back_color_gray;
  hr {
      margin: 2px;
  }
  .badgesendlink {
    .username {
      font-size: 1.2em;
    }
  }
  .name_block {
    // float: right;
    // margin: 0 auto;
    margin: 10px;
    padding: 10px;
    max-width: 350px;
    background: white;
    border: 2px solid $flat_red;
    border-radius: 10px;
    .bumon_name {
      font-size: 0.9em;
    }
    .kananame {
      font-size: 0.8em;
      margin: 0px;
    }
    .name {
      font-size: 2.5em;
    }
    .nickname {
      // margin-left: 60px;
      font-size: 1.0em;
      .nicknamevalue {
        color: $nickname_color;
      }
    }
    .email {
      font-size: 0.8em;
    }
  }
  
  .user_info {
    background: white;
    max-width: 254px;
    min-height: 300px;
    border: 2px solid $flat_blue;
    margin-left: 10px;
    margin-right: 10px;
    // border-radius: 10px;
    // padding: 0px;
    // margin: 0px;
    .gravatar {
      // padding: 10px;
      margin: 0px;
    }
    // .largeimage {
    //   border-radius: 10px 10px 0px 0px;
    //   padding: 0px;
    //   margin: 0px;
    // }
    .message {
      padding-left: 10px;
    }
  }
  
  .prof_box {
    margin: 10px;
    padding: 10px;
    max-width: 350px;
    background: white;
    border: 2px solid $flat_blue;
    border-radius: 10px;
    p {
      margin: 0px;
    }
  }
  // .myjob {
  //   @extend .prof_box;
  //   p {
  //     font-size: 0.8em;
  //   }
  //   span {
  //     font-size: 1.3em;
  //   }
  // }
  .long_sentence {
    @extend .prof_box;
    border: 2px solid $flat_green;
    p {
      font-size: 1.2em;
    }
    span {
      font-size: 0.7em;
    }
  }
  .long_sentence, .myjob {
    @extend .long_sentence;
  }
  .long_sentence, .myword {
    @extend .long_sentence;
  }
  .hobby {
    @extend .long_sentence;
  }
}


.user_info {
  .minismile {
    margin-left: 15px;
  }
  .name_block {
    margin-bottom: 10px;
    padding: 10px;
    max-width: 250px;
    background: white;
    border: 2px solid $flat_red;
    border-radius: 10px;
  }
  // .largeimage {
  //   max-width: 252px;
  //   border: 1px solid blue;
  // }
  .user_badge_info {
    margin-top: 10px;
    padding: 10px;
    max-width: 350px;
    background: white;
    border: 2px solid $flat_blue;
    border-radius: 10px;
  }
}


.loginbadgecount {
  font-size: 1.6em;
  margin: 10px;
  color: #0E7AC4;
}


