@import "custom";

.ranking {
  list-style: none;
  font-size: 1.5em;
  li {
    height: 60px;
    margin: 10px;
    padding: 10px;
    width: 500px;
    
    .abstruct_block {
      margin: 10px;
      padding: 10px;
      background: white;
      border-radius: 10px;
      float: left;
    }
    
    .ranking_block {
    }
    .rank {
      @extend .abstruct_block;
    }
    .bumon_name {
      @extend .abstruct_block;
      width: 300px;
      border: 2px solid $flat_blue;
    }
    .badge_count {
      @extend .abstruct_block;
      border: 2px solid $flat_red;
      text-align: right;
    }
  }
}